# Database (Postgresql)
DATABASE_URL="postgresql://user:pass@localhost:5432/db_name"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# SMTP Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="sample-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="UPHSM - Leave and Balance System <notifications@uphsm.com>"

# Upstash (Rate Limiting)
UPSTASH_REDIS_REST_URL="https://your-upstash-url"
UPSTASH_REDIS_REST_TOKEN="your-upstash-token"
