# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# Environment variables
.env*.local
.env

# Common ignores
node_modules
.next/
.DS_Store
.copilot/
.gemini/
.mcp.json
.copilot/
next-env.d.ts
.agents/

# Agent Files
docs/.
COLOR_SYSTEM.md
AGENT.md
GEMINI.md
TASK.md
WORKFLOW.md
PROFILE_SECTION.md